<!DOCTYPE html>
<html>
<head>
  <title>StacksocialTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% if signed_in? %>
      <header class="top-bar">
        <nav class="navbar navbar-default">
          <div class="collabse navbar-collapse">
            <div class="nav navbar-nav">
              <div>
              </div>
            </div>

            <div class="nav navbar-nav navbar-right">
              <ul class="nav navbar-nav">
                <li>
                  <%= link_to root_path, class: 'user-avatar' do %>
                    <img src="<%= current_user.image %>"/>
                    <span class="nickname">@<%= current_user.nickname%></span>
                  <% end %>
                </li>
                <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    <% end %>

    <%= yield %>

  </div>
</body>
</html>
