<!DOCTYPE html>
<html>
<head>
  <title>StacksocialTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if signed_in? %>
    <header>
      <nav class="menu">
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
        </ul>
      </nav>
    </header>
  <% end %>
<%= yield %>

</body>
</html>
